
.gform_wrapper.gform_wrapper {

  // Inputs
  .gform_footer input.button,
  .gform_footer input[type=submit] {
    @include button( $button-color );
  }

  input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
  input[type="email"],
  input[type="password"],
  input[type="text"],
  input[type="tel"],
  input[type="number"],
  input[type="url"],
  input[type="search"],
  textarea {
    width: 100%;
    padding: .5em .75em;
  }
}

.home-form-section{
  .gform_wrapper.gform_wrapper {

    // Inputs
    .gform_footer input.button,
    .gform_footer input[type=submit] {
      @include button( $button-color );
    }

    input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
    input[type="email"],
    input[type="password"],
    input[type="text"],
    input[type="tel"],
    input[type="number"],
    input[type="url"],
    input[type="search"],
    textarea {
      width: 100%;
      padding: .3em .75em;
      @include breakpoint($bp-med){
        padding: .6em .75em;
      }
      border: none;
    }
    label{
        @include  visuallyhidden();
    }
   form{
     text-align: center;
   }
   h3.gform_title{
     color: white;
     font-size: 20px;

     @include breakpoint($bp-xl) {
       font-size: 22px;
     }
     @include breakpoint($bp-mega) {
       font-size: 26px;
     }
   }
   .gform_description{
     font-size: 14px;
     color: white;
     margin-bottom: 0;
   }
  }
}
