
/**
 * Mobile Header
 */

.site-header--mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 1em 1.5em;
  overflow: hidden;
  z-index: 500;
  background: #fff;

  @supports ( display: flex ) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @include breakpoint($bp-med) {
    display: none;

    @supports ( display: flex ) {
      display: none;
    }
  }

  .admin-bar & {
    top: 2.875em;
  }
}

.mobile-header-left {
  float: left;

  @supports ( display: flex ) {
    flex: 1 0 auto;
  }
}

.mobile-header-right {
  float: right;
}

.menu-button {
  @include button-reset;
  display: inline-block;
  vertical-align: top;
  padding: 0.75em;
  color: #fff;
  line-height: 1;
  background-color: $color-yellow;
  transition: background-color 500ms;

  &:hover,
  &:focus {
    color: #fff;
    background-color: $color-red;
  }

  svg {
    display: block;
    width: 1.375em;
    height: 1.1875em;
  }
}

.close-button {
  @include button-reset;
  display: inline-block;
  vertical-align: top;
  color: $link-color;

  &:hover,
  &:focus {
    color: $link-color--hover;
  }

  svg {
    display: block;
    width: 2.0625em;
    height: 2.0625em;
  }
}

.mobile-nav-tray{
  .site-branding{
    float: left;
    padding-top: 1.4em;
    padding-left: 1em;
  }
}
