
/**
 * Site Header
 */

.site-header {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: $header-bkg;
  transition: padding 250ms, background-color 250ms, transform 250ms;
  transform: translateZ(0);
  z-index: 50;

  @include breakpoint($bp-med) {
    display: block;
  }

  @include breakpoint($bp-med--tall) {
    position: fixed;
    z-index: 100;
  }

  .admin-bar & {
    top: 2em;
  }

  &.minify-header {
    @include breakpoint($bp-med--tall) {
      background-color: rgba( $header-bkg, 0.95 );
      box-shadow: $box-shadow;

      // // Add fancy background blur effect
      // (currently has performance issues in Chrome)
      //
      // @supports ( backdrop-filter: blur(10px) ) or
      //           ( -webkit-backdrop-filter: blur(10px) ) {
      //   background-color: rgba( #fff, 0.75 );
      //   backdrop-filter: blur(10px);
      // }
    }
  }

  .wrap {
    position: relative;
  }
}


/**
 * Site Logo
 */

.site-branding {
  transition: transform 500ms;
  transform-origin: center left;

  a {
    display: inline-block;
    vertical-align: top;
    transition: opacity 500ms;

    &:hover,
    &:focus {
      svg,
      img {
        opacity: 0.75;
      }
    }
  }

  svg,
  img {
    display: block;
    transition: opacity 500ms;
    transform: translateZ(0);
    backface-visibility: hidden;
  }

  .minify-header & {
    @include breakpoint($bp-med--tall) {
      // Fix image blur - 'translateZ' forces hardware
      // acceleration for soother animation
      transform: translateZ(0) scale(.85);
      // Fix image blur - Simplifies the animation
      // to front-face only
      backface-visibility: hidden;
    }
  }
}


/**
 * Site Navigation (optional)
 * ---
 * Group and position navs
 */

.site-navigation {
  padding-top: 1em;
  transition: padding-top 500ms;

  .minify-header & {
    @include breakpoint($bp-med--tall) {
      padding-top: 0.75em;
    }
  }
}


.top-bar{
  background-color: $color-red;
  .wrap{
    @supports(display: flex){
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      @include breakpoint($bp-med){
        flex-direction: row;
      }
      .contact-social, .contact-box{
        flex: 1;
      }
      .contact-box{
        justify-content: flex-start;
        .address-block{
         .address-contact-info {
           @supports(display: flex){
             display: flex;
             flex-direction: column;
             @include breakpoint($bp-small){
               flex-direction: row;
             }
           }
           p{
             position: relative;
               &:first-child{
                 margin: auto;
                 @include breakpoint($bp-small){
                   margin: 0 3em;
                   margin-right: 4em;
                   margin-left: 2em;
                   &:after{
                     content: "";
                     width: 1px;
                     height: 16px;
                     background-color: white;
                     position: absolute;
                     right: -17px;
                     bottom: 20px;
                     opacity: 0.6;
                   }
                 }
                   &:before{
                     content: url(../svg/icons/phone-icon.svg);
                     width: 20px;
                     height: 16px;
                     position: absolute;
                     left: -28px;
                     bottom: 11px;
                     @include breakpoint($bp-small){
                       bottom: 22px;
                     }
                 }
               }
             }
             a{
               color: white;
               font-size: 14px;
             }
           }
           p + p{
             &:before{
               content: url(../svg/icons/email-icon.svg);
               width: 20px;
               height: 16px;
               position: absolute;
               left: -28px;
               bottom: 6px;
           }
         }
        }
      }
      .contact-social{
        margin-bottom: 1em;
        margin-right: 1em;
        @include breakpoint($bp-small){
          margin-right: 0;
        }
        @include breakpoint($bp-med){
          margin-bottom: 0;
        }
        @supports(display: flex){
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
        justify-content: flex-end;
        ul{
          text-align: right;
        }
        .navigation--social{
          h5{
            display: none;
          }
          ul{
            @supports(display: flex){
            display: flex;
            }
          }
        }
      }
      .address-title{
        display: none;
      }
    }
  }
}
