
/**
 * Site Footer
 */

.site-footer {
  color: #fff;
  background-color: white;

  h5, .h5 {
    color: inherit;
  }

  p {
    margin: 0;
  }

  a {
    color: inherit;

    &:hover,
    &:focus {
      color: inherit;
    }
  }
}


/**
 * Main Footer Sections
 */

.primary-footer {
  background-color: #F8F7F7;
  .social-nav{
    @supports(display: flex){
      display: flex;
      justify-content: center;
      @include breakpoint($bp-med){
        justify-content: flex-start;
      }
      li{
        svg{
          color: $color-red;
          &:hover{
            color: $color-yellow;
          }
        }
      }
    }
  }
  .address-title, .social-nav-title{
    display: none;
  }
  .address-contact-info{
    margin-top: .5em;
  font-size: 13px;
  font-weight: 700;
    p{
      color: #a68c8b;
      &:hover{
        color: $color-yellow;
      }
    }
  }
  h6{
    font-size: 16px !important;
    text-align: center;
    @include breakpoint($bp-med){
      text-align: left;
    }
  }

  .navigation--utility{
    text-align: center;
    padding: 0.3em 0;
    @include breakpoint($bp-med){
      padding: 1em 0;
      padding-top: 0;
      text-align: left;
    }
    li{
      a{
        font-size: 13px;
        text-transform: capitalize;
        color: #A68C8B;
        &:hover{
          color: $color-yellow;
        }
      }
    }
    li + li{
      margin-left: 0;
      border-left: none;
      padding-left: 0;
      margin-top: 0.6em;
      @include breakpoint($bp-med){

      }
    }
  }
  .wrap{
    @supports(display: flex){
      display: flex;
      flex-direction: column;
      @include breakpoint($bp-med){
        flex-direction: row;
      }
    }
    .footer-box{
      flex: 1;
      @include breakpoint($bp-med){
        margin-right: 2.5em;
        &:last-child{
          flex: 0.7;
          margin-right: 0;
        }
      }
      .site-branding{
        text-align: center;
        margin-bottom: 1em;
        @include breakpoint($bp-med){
          text-align: left;
          margin-bottom: 0;
        }
      }
      .l-grid-item{
        padding-top: 0;
        padding-left: 0;
        @include breakpoint($bp-med){
          padding-left: 3em;
        }
        width: 100%;
        &:last-child{
          margin-top: 1em;
          @include breakpoint($bp-med){
            margin-top: 0;
          }
        }
          @include breakpoint($bp-med){
          width: 48%;
          }
          @include breakpoint($bp-xl){
          width: 22%;
          }
        }
    }
    .footer-box.middle{
      flex: 4;
      @include breakpoint($bp-med){
        margin-top: 1.1em;
        margin-right: 0;
        @supports(display: flex){
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

.site-info {
  padding: 1.5em 0;
  background-color: $color-red;
  .l-footer-item{
    &:last-child{
      margin-top: 0;
      @supports(display: flex){
        display: flex;
        justify-content: center;
        @include breakpoint($bp-med){
          justify-content: flex-end;
        }
      }
    }
  }
}


/**
 * Site Address
 */

.address-block {
  text-align: center;

  @include breakpoint($bp-med) {
    text-align: left;
  }

  .address-title {
    margin-bottom: 0.5em;
  }

  a {
    text-decoration: none;
    border-bottom: 1px solid rgba( #fff, 0 );
    transition: opacity 500ms;

    &:hover,
    &:focus {
      opacity: 0.75;
    }
  }
}

.address-contact-info {
  margin-top: 0.5em;
  p{

  }
}


/**
 * Site Copyright
 */

.site-copyright {
  text-align: center;
  p{
    small{
      color: white;
    }
  }
  @include breakpoint($bp-med) {
    text-align: left;
  }
}


/**
 * Imagebox Branding
 */

.imagebox {
  margin-top: 4px;
  text-align: center;

  @include breakpoint($bp-med) {
    margin-top: 0;
    display: inline-block;
    vertical-align: top;
  }

  svg {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: -8px;
    margin-left: 5px;
  }

  a {
    color: #fff;
    transition: opacity 500ms;

    &:hover,
    &:focus {
      opacity: 0.75;
    }
  }
  p{
    small{
      color: white;
    }
  }
}


.footer-box{
  .l-grid-item{
    &:first-child{
      ul{
        @supports(display: flex){
          display: flex;
          flex-direction: column;
          line-height: 1.2;
        }
      }
    }
  }
}



.site-info{
  .l-footer--2-cols{
    .l-footer-item{
      @supports(display: flex){
        display: flex !important;
        align-items: center;
        flex-direction: column;
        @include breakpoint($bp-med){
          flex-direction: row;
        }
      }
      .site-branding{
        margin-right: 1em;
      }
    }
  }
}
