
.banner {
  position: relative;
  padding: 6.9375em 0;
  width: 100%;
  background-color: $banner-bkg;
  overflow: hidden;
  z-index: 1;
}

.banner-title {
  position: relative;
  z-index: 10;

  .h1 {
    font-size: 35px;
    margin: 0;
    display: block;
    color: #fff;
    font-family: $font-heading;
    font-weight: 700;
    text-align: center;

    @include breakpoint($bp-med) {
      font-size: 42px;
    }
  }
}

.banner-image {
  @include block-fit-cover( 100em );
  opacity: 1;
}
