
.quote-block-layout {
  position: relative;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-color: $color-red;
  @include breakpoint($bp-med){
    min-height: 300px;
  }


  .wrap, .wrap--limited {
    position: relative;
    z-index: 10;
    width: 45em;
  }
}

.quote-block-layout-bkg {
  @include block-fit-cover( 140em );
  opacity: .3;
}

.quote-block {
  margin-top: 5em;
}

.quote-icon {
  text-align: center;
}

.quote-icon-svg {
  color: $link-color;
}

.quote-block-body {
  position: relative;
  margin-top: 1em;
  &:after{
    content: url(../img/src/branding/quote-icon.png);
    right: 0;
    left: 0;
    position: absolute;
    top: -4.5em;
  }

  p {
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1.4;
    font-style: normal;
  }
}

.quote-block-citation {
  margin-top: 1.5em;
  font-size: 1em;
  line-height: 1.2;

  &::before {
    content: none;
  }
}

.quote-name {
  display: block;
  color: #fff;
  font-size: 1.3125em;
  font-weight: 700;
}

.quote-title {
  display: block;
  margin-top: .5em;
  color: $color-yellow;
  font-weight: 700;
  letter-spacing: .0625em;
}
