
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 52.4375em;
  height: 80vh;
  min-height: 38em;
  max-height: 52.4375em;
  overflow: hidden;

  &.background-image {
    background-color: $bkg-dark-grey;
  }

  .wrap {
    position: relative;
    max-width: 39.625em;
    width: 100%;
    z-index: 10;

    @include breakpoint($bp-large) {
      max-width: 55.625em;
    }
  }
}

.hero-bkg-image {
  @include block-fit-cover( 100em );
  opacity: 0.3;
}

.hero-box {

}

.hero-content {
  text-align: center;

  h1 {
    color: #fff;
    font-size: 32px;
    @include breakpoint($bp-large) {
      font-size: 40px;
    }
    @include breakpoint($bp-xl) {
      font-size: 45px;
    }
    @include breakpoint($bp-mega) {
      font-size: 60px;
    }
  }

  p {
    color: #fff;
    font-size: 1.375em;
  }

  .button {

  }
}


.slide-content{
  background: white;
  padding: 2em;
}

.make-it-left{
  justify-content: flex-start;
}
.make-it-right{
  justify-content: flex-end;
}
