
/**
 * Tiny Slider
 */

.tns-outer {
  position: relative;
  z-index: 9999999999;
}

.tns-controls {
  [aria-controls] {
    @include button-reset();
    position: absolute;
    top: 50%;
    color: #fff;
    background-color: transparent;
    transform: translateY(-50%);
    z-index: 10;
    display: none;
  }

  [data-controls="prev"] {
    left: 1em;
  }

  [data-controls="next"] {
    right: 1em;
  }
}

.tns-nav {
  position: absolute;
  left: 0;
  bottom: 1em;
  @include breakpoint($bp-xl){
      bottom: -3em;
  }
  @include breakpoint($bp-mega){
      bottom: -3em;
  }
  width: 100%;
  height: auto;
  text-align: center;
  z-index: 10;

  > [aria-controls] {
    padding: 0;
    margin: 0 9px;
    border: 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #D4C0BF;

    &.tns-nav-active {
      background-color: $color-yellow;
    }
  }
}


/**
 * Image Slideshow Example
 */

.image-slideshow {

  // Only display the first slide when js is disabled
  .no-js & {
    .image-slide {
      display: none;

      &:first-child {
        display: block;
      }
    }
  }
}

// Basic Styling - Centered image blocks
// .image-slide {
//   img {
//     display: block;
//     margin: 0 auto;
//   }
// }

// Full Height Styling - Expands images to full height of slide
.slide-image {
  height: 25em;
  overflow: hidden;

  img {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }
}

.carousel-slide{
  position: relative;
  .slide-wrap{
    margin: auto;
    @supports(display: flex){
      display: flex;
      align-items: center;
      min-height: 400px;
      @include breakpoint($bp-xl){
        min-height: 550px;
      }
      @include breakpoint($bp-mega){
        min-height: 800px;
      }
    }
    .slide-content{
      position: relative;
      z-index: 9999999;
      @include breakpoint($bp-med){
        width: 55%;
      }
      @include breakpoint($bp-mega){
        width: 58%;
      }
      h1 {
        color: $color-dark-red;
        font-size: 32px;
        @include breakpoint($bp-large) {
          font-size: 35px;
        }
        @include breakpoint($bp-xl) {
          font-size: 40px;
        }
        @include breakpoint($bp-mega) {
          font-size: 43px;
        }
      }
      p{
        color: $color-dark-red;
        font-size: 16px;
        @include breakpoint($bp-large) {
          font-size: 18px;
        }
        @include breakpoint($bp-xl) {
          font-size: 18px;
        }
        @include breakpoint($bp-mega) {
          font-size: 20px;
        }
      }
    }
  }
  .slide-bkg{
    z-index: -1;
    @include breakpoint($bp-med){
      @include block-fit-cover(20em);
    }
    @include breakpoint($bp-mega-mega){

    }
  }
}


.hero-callout-box{
  .wrap{
    .box-content{
      position: relative;
      z-index: 99999999999;
      background-color: $color-red;
      position: relative;
      padding: 1em 1em;
      @include breakpoint($bp-xl){
        padding: 4.5em 5em;
        margin-top: -4em;
      }
      @include breakpoint($bp-mega){
        padding: 4.5em 4.5em;
        margin-top: -9em;
      }
    }
    .box-content{
      @include breakpoint($bp-med){
        @supports(display: flex){
          display: flex;
        }

      }
      .box-left{
        flex: 1;
        h2{
          font-size: 30px;
          color: white;
          @include breakpoint($bp-xl){
            font-size: 34px;
            margin-right: 1em;
          }
          @include breakpoint($bp-mega){
            font-size: 36px;
            margin-right: 1.5em;
          }
        }
      }
      .box-right{
        flex: 2.3;
        @supports(display: flex){
          display: flex;
          flex-direction: column;
          @include breakpoint($bp-med){
            flex-direction: row;
            justify-content: space-between;
          }
        }
          a{
            @supports(display: flex){
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
            }
            padding: 0.7em 0;
            width: 100%;
            text-decoration: none;
            flex: 1;
            text-align: center;
            background-color: #F8F7F7;
            height: 180px;
            transition: 0.5s ease;
            &:hover{
              background-color: $color-yellow;
              transition: 0.5s ease;
            }
            img{
              max-width: 95px;
            }
          }
          a + a{
            margin-top: 1em;
           @include breakpoint($bp-med){
               margin-top: 0;
               margin-left: 1em;
           }
          }
          span{
            display: block;
            color: $color-dark-red;
            font-size: 16px;
            @include breakpoint($bp-med){
              font-size: 20px;
            }
            @include breakpoint($bp-mega){
              font-size: 21px;
            }
          }
      }
    }
  }
}


.q-yo{
  .wrap{
    .tns-outer{
      margin-bottom: 3em;
      > button{
        display: none;
      }
    }
  }
}
