
/**
 * Page Header
 */

.page-header {
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 2px solid $border-color;
}

.page-title {
  margin: 0;
}



/**
 * Entry Header
 */

.entry-header {
  .entry-meta {
    margin: 1em 0 2em;
    margin-bottom: 1em;
  }
}

.entry-title {
  margin-bottom: .5em;

  a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      color: inherit;
    }
  }
}

.entry-meta {
  margin: 1em 0 1em;

  p {
    margin: 0;
    font-size: .8125em;
    font-weight: 700;
    color: $heading-color;
    text-transform: uppercase;

    a {
      text-decoration: underline;
      color: $heading-color;

      &:hover,
      &:focus {
        color: darken($heading-color, 15%);
      }
    }
  }
}
