
/**
 * Main Navigation
 */

.navigation--main {
  position: relative;
  width: 100%;
  text-align: right;
  z-index: 490;

   > .nav-list {
     > li{
       position: relative;
       &:last-child{
        @include breakpoint($bp-xl){
          margin-left: 4em;
        }
        @include breakpoint($bp-mega){
          margin-left: 5.1em;
        }
        a{
          @include button($button-color);
        }
      }
     }
   }

  a {
    display: block;
    padding: 0.5em 0.15em;
    color: $main-nav-color;
    font-family: $font-base;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;

    @include breakpoint($bp-med) {
      font-size: 13px;
    }

    @include breakpoint($bp-large) {
      font-size: 15px;

    }

    &:hover,
    &:focus {
      color: $color-yellow;
      text-decoration: none;
    }
  }

  > ul {
    @supports (display: flex){
      display: flex;
      align-items: center;
    }
    > li {
      + li {
        @include breakpoint($bp-med){
          margin-left: 0.7em;
        }
        @include breakpoint($bp-xl){
          margin-left: 1.5em;
        }
      }
    }
  }

  .current-menu-item,
  .current-menu-ancestor {
    > a {
      color: $color-yellow;
    }
  }

  .sub-menu {
    @include list-reset;
    position: absolute;
    left: -9999px;
    top: 100%;
    margin: 0;
    padding: 0.5em 1.4375em;
    min-width: 15em;
    text-align: left;
    z-index: 490;
    opacity: 0;
    background: $color-red;
    box-shadow: 0 7px 19px -8px rgba( #424242, 0.5 );
    transition: opacity 100ms linear;

    li {
      display: block;
      margin: 0;
    }

    > li {
      + li {
        border-top: 1px solid $color-yellow;
      }
    }

    a {
      padding: 1em 0;
      color: #fff;
      font-size: 1em;

      &:hover,
      &:focus {
        color: $color-yellow;
      }
    }
    .current-menu-item,
    .current-menu-ancestor {
      a {
        color: $color-yellow;
      }
    }
  }

  li {
    &:hover,
    &.is-active {
      > .sub-menu {
        left: 0;
        opacity: 1;
      }
    }

    &:last-child {
      &:hover,
      &.is-active {
        > .sub-menu {
          left: auto;
          right: 0;
        }
      }
    }
  }

  .sub-menu li {
    &:hover,
    &.is-active {
      > .sub-menu {
        left: 100%;
        top: 0;
      }
    }
  }
}

.site-logo{
  margin-top: 0.7em;
  @include breakpoint($bp-med){
   max-width: 150px;
  }
  @include breakpoint($bp-xl){
    max-width: 200px;
  }
}
