
/**
 * Sidebar Navigation
 */

.sidebar-nav {

  ul {
    @include list-reset;
  }

  li {
    display: block;
    margin: 0;

    + li {
      border-top: 2px solid $border-color;
    }
  }

  a {
    display: block;
    padding: 0.75em 0;
    color: $nav-link-color;
    text-decoration: none;
    font-weight: 700;
    transition: color 500ms;
    padding-left: 2em;
    &:hover,
    &:focus {
      color: $color-yellow;
    }
  }

  .children {
    display: none;
    margin-left: 1em;
  }

  .current_page_item,
  .current_page_ancestor {
    > a {
      color: $color-red;
    }
  }

  .current_page_item,
  .current_page_ancestor {
    > .children {
      display: block;
    }
  }
}
