.assignment-section{
  .card-header{
    position: relative;
    overflow: hidden;
    display: block;
    height: 200px;
    @include breakpoint($bp-med){
      height: 150px;
    }
    img{
      @include block-fit-cover(20em);
    }
  }
  .card-footer{
    padding: 1em;
    height: 255px;
    a{
      margin-top: 0em;
    }
    h1{
      font-size: 18px !important;
    }
  }
}
.ebook-section{
  .card-header{
    position: relative;
    overflow: hidden;
    display: block;
    height: 200px;
    @include breakpoint($bp-med){
      height: 150px;
    }
    img{
      @include block-fit-cover(20em);
    }
  }
  .card-footer{
    padding: 1em;
    height: 150px;
    a{
      margin-top: 0em;
    }
    h1{
      font-size: 18px !important;
    }
  }
}
.content--preview{
  .card-header{
    position: relative;
    overflow: hidden;
    display: block;
    height: 200px;
    @include breakpoint($bp-med){
      height: 150px;
    }
    img{
      @include block-fit-cover(20em);
    }
  }
  .card-footer{
    padding: 1em;
    height: 260px;
    a{
      margin-top: 0em;
    }
    h1{
      font-size: 18px !important;
    }
  }
}
.content--preview h4 a {
    text-decoration: none !important;
}


.video-group{
  .card-header{
    @supports(display: flex){
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .svg-vid{
    position: relative;
    @supports(display: flex){
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:after{
      position: absolute;
      content: url('../svg/icons/vid-icon.svg');
    }
  }
}



.page-template-template-assignments, .page-template-template-ebooks{
  .mfp-auto-cursor .mfp-content {
    cursor: auto;
    width: 600px;
    margin: auto;
    background: white;
    padding: 2em;
  }
}


.card{
  box-shadow: -1px 1px 15px 1px rgba(0,0,0,.2);
}
