.page-template-template-curriculum{
  .curic_section{
    background-color: $color-grey--light;
    padding: 4em !important;
      padding-bottom: 5em !important;
    .wrap{
      .l-gird{
        margin-left: -3em;
      }
      .l-grid-item{
        @include breakpoint($bp-small){
          width: 50%;
        }
        @include breakpoint($bp-large){
          width: 25%;
          padding-left: 3em;
        }
        .link-box{
          text-decoration: none;
          height: 280px;
          display: block;
          img{
            width: 140px;
            margin-bottom: 2em;
          }
          h4{
            font-size: 26px;
          }
        }
        .curic_col_links{
          @supports(display: flex){
            display: flex;
            flex-direction: column;
            margin-top: 2em;
            h6{
              font-size: 16px;
              margin-bottom: 1em;
            }
            a{
              text-decoration: none;
              padding: 0.3em 0;
              position: relative;
              color: #5F4746;
              transition: color 0.5s ease;
              &:hover{
                color: $color-red;
                transition: color 0.5s ease;
              }
              &:after{
                content: url(../svg/icons/cl-right-arrow.svg);
                position: absolute;
                right: 0;
              }
            }
            a {
              border-top: 1px solid #D4C0BF;
              &:last-child{
                border-bottom: 1px solid #D4C0BF;
              }
            }
          }
        }
      }
    }
  }
  .extra_section{
    .wrap{
      @supports(display: flex){
        display: flex;
        flex-direction: column;
        @include breakpoint($bp-med){
          flex-direction: row;
        }
      }
      .extra-text{
        flex: 1.2;
        @supports(display: flex){
          display: flex;
          flex-direction: column;
        }
      }
      .extra-box{
        flex: 3;
        margin-top: 1.6em;
        @include breakpoint($bp-med){
          margin-top: 0;
          margin-left: 1.5em;
        }
        @include breakpoint($bp-large){
          margin-left: 2.5em;
        }
        @include breakpoint($bp-xl){
          margin-left: 3em;
        }
        @include breakpoint($bp-mega){
          margin-left: 6em;
        }
          .extra-icon{
            @supports(display: flex){
              display: flex;
              align-self: center;
              flex-direction: column;
              align-items: center;
              text-align: center;
              height: 200px;
              img{
                margin-bottom: 1em;
              }
              p{
                font-weight: 600;
                color: #5F4746;
              }
            }
            @include breakpoint($bp-small){
              width: 30%;
            }
            @include breakpoint($bp-large){
              width: 20%;
            }
           a{
             text-decoration: none;
             font-family: $font-heading;
             font-weight: 600;
             color:5F4746;
             @supports(display: flex){
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;
             }
           }
          }
      }
    }
  }
}

.curric-button-callout-out{
  background-color: $color-red;
  text-align: center;
  .wrap{
   p{
     color: white;
   }
  }
}

.curic-section{
 .wrap{
   .curic-container{
     @supports(display: flex){
       display: flex;
       flex-direction: column;
       @include breakpoint($bp-large){
         flex-direction: row;
       }
     }
     .accordion-block{
       flex: 1.5;
       > h2{
         margin-bottom: 1.2em;
       }
     }
     .pdf-block{
       flex: 1;
       @include breakpoint($bp-med){
         padding-left: 1.5em;
       }
       @include breakpoint($bp-xl){
         padding-left: 3em;
       }
       @include breakpoint($bp-mega){
         padding-left: 9em;
       }
       img{
         padding-right: 1.5em;
         margin-bottom: -1.8em;
         @include breakpoint($bp-med){

         }
         @include breakpoint($bp-xl){

         }
         @include breakpoint($bp-mega){

         }
       }
       h2{
         font-size: 30px;
       }
     }
    }
   }
 }



.advanced-full-width{
  .accordion-block{
     button{
      &:nth-child(2){
        border-top: 2px solid white;
        padding-top: 0;
      }
    }
  }
  #elementary-block{
    margin-bottom: 0;
  }
}



.accordion-content{
  max-height: 0;
  overflow: hidden;
  padding-left: 0.5em;
}
button.accordion.accord-is-open{
  .accordion-content{
    max-height: 0;
    overflow: hidden;
  }
}

.accordion{
  padding: 1em;
  background: transparent;
  width: 100%;
  text-align: left;
  border-top: 1px solid #D4C0BF;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  font-size: 20px;
  font-weight: 600;
  font-family: $font-heading;
  color: $color-dark-red;
  position: relative;
  padding-left: 0.5em;
  &:after{
    content: url(../svg/icons/accord-arrow-up.svg);
    position: absolute;
    right: 0;
    height: 10px;
  }
}

.accordion.accord-is-open{
  position: relative;
  &:after{
    content: url(../svg/icons/accord-arrow-down.svg);
    position: absolute;
    right: 0;
    height: 10px;
  }
}


.accordion-block > h2{
  &:before{
    display: block;
     content: " ";
     margin-top: -285px;
     height: 285px;
     visibility: hidden;
     pointer-events: none;
  }
}

.accordion-content{
  p{
    font-size: 13px;
    @include breakpoint($bp-xl){
      font-size: 14px;
    }
    @include breakpoint($bp-mega){
      font-size: 16px;
    }
  }
  @include breakpoint($bp-mega){
    font-size: 16px;
  }
  ul{
    li{
      font-size: 13px;
      @include breakpoint($bp-xl){
        font-size: 14px;
      }
      @include breakpoint($bp-mega){
        font-size: 16px;
      }
    }
  }
}

ul.l-list-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  align-items: flex-start;
  flex-direction: column;
  @include breakpoint($bp-med){
    flex-direction: row;
    width: 100%;
    font-size: 13px;
  }
  @include breakpoint($bp-xl){
    width: 670px;
    li{
      font-size: 14px;
    }
  }
  @include breakpoint($bp-mega){
    width: 755px;
    font-size: 16px;
  }
  li{
    text-align: left;
    @include breakpoint($bp-med){
      width: 48%;
    }
  }
}
