
.page-template-template-home {
  .mfp-auto-cursor .mfp-content {
    cursor: auto;
    width: 600px;
    margin: auto;
    background: white;
    padding: 2em;
  }
  .home-split-block{
    padding-bottom: 0;
    padding-top: 0;
    @supports(display: flex){
      display: flex;
      flex-direction: column;
      @include breakpoint($bp-med){
        flex-direction: row;
      }
    }
    .photo-block{
      flex: 1;
      overflow: hidden;
      position: relative;
      img{
        @include block-fit-cover(50em);
      }
    }
    .content-block{
      flex: 1;
      @include breakpoint($bp-large){
        margin-left: 2em;
      }
      @include breakpoint($bp-xl){
        margin-left: 3em;
      }
      @include breakpoint($bp-mega){
        margin-left: 7em;
      }
      .split-wrap{
        padding: 1.5em;
        @include breakpoint($bp-large){
          padding-bottom: 2em;
          padding-top: 1.5em;
          max-width: 600px;
          margin-left: 0;
          margin-right: 0;
        }
        h2{
          color: $color-dark-red;
        }
      }
    }
  }
  .home-columns{
    @supports(display: flex){
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include breakpoint($bp-med){
        flex-direction: row;
      }
      .home-col{
        flex: 1;
        padding: 0.5em;
        p{
          color: #A68C8B;
          font-size: 16px;
        }
        strong{
          font-size: 20px;
        }
      }
    }
  }
  .home-header {
      margin-bottom: 3em;
      p{
        font-weight: 700;
      }
      @include breakpoint($bp-med){
        padding: 0 8em;
      }
  }
  .home-callout{
    background-color: $color-red;
    padding: 3em 1em;
    .wrap{
      padding: 1em 1.5em;
      background-color: $color-red;
      box-shadow: -2px 8px 23px 1px rgba(0,0,0,0.75);
      -webkit-box-shadow: -2px 8px 23px 1px rgba(0,0,0,0.75);
      -moz-box-shadow: -2px 8px 23px 1px rgba(0,0,0,0.75);
      @include breakpoint($bp-med){
        padding: 1em 3.5em;
      }
      @supports(display: flex){
        display: flex;
        align-items: center;
        flex-direction: column;
        @include breakpoint($bp-med){
          flex-direction: row;
          justify-content: space-between;
        }
      }
      .home-callout{
        flex: 1;
      }
      .callout-buttons{
        flex: 1;
        text-align: right;
        @supports(display: flex){
          display: flex;
          flex-direction: row;
          @include breakpoint($bp-med){
            justify-content: flex-end;
            align-items: flex-end;
          }
        }

       a + a{
         margin-left: 1.2em;
       }
      }
      .callout-header{
        h3{
          color: white;
          font-size: 30px;
          font-family: $font-base;
          position: relative;
          @include breakpoint($bp-med){
            margin-bottom: 0;
            @include breakpoint($bp-xl){
              font-size: 33px;
              &:after{
                content: url(../img/src/branding/arrows-icon.png);
                height: 20px;
                position: absolute;
                right: -8.5em;
                top: 4px;
              }
            }
          }
        }
      }
    }
  }
  .home-split-block--bottom{
    background-color: #F8F7F7;
    .wrap{
      @supports(display: flex){
        display: flex;
        flex-direction: column;
        @include breakpoint($bp-med){
          flex-direction: row;
        }
      }
    }
    .content-block{
      flex: 1;
      padding: 0 1.5em;
      @include breakpoint($bp-med){
        margin-right: 3em;
      }
      @supports(display: flex){
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
      }
      .split-wrap{
        max-width: 600px;
        margin-left: 0;
        margin-right: 0;
        padding: 4em 0;
        @include breakpoint($bp-med){

        }
        h6{
          font-size: 16px;
          color: #A68C8B;
          margin-top: 2em;
          margin-bottom: 1.1em;
          text-transform: uppercase;
          font-family: $font-base;
        }
      }
    }
    .photo-block{
      flex: 1;
      position: relative;
      overflow: hidden;
        @supports(display: flex){
          display: flex;
          flex-direction: column;
          @include breakpoint($bp-med){
            flex-direction: row;
            align-items: center;
          }
        }
      a.link-box{
        flex: 1;
        background-color: $color-red;
        text-decoration: none;
        font-weight: 700;
        transition: background-color 0.5s ease;
        padding: 1.5em 1em;
        &:hover{
          background-color: $color-yellow;
          transition: background-color 0.5s ease;
        }
        img{
          align-self: center;
        }
        @supports(display: flex){
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: center;
          height: 300px;
          @include breakpoint($bp-med){
            height: 280px;
          }
        }
        span.link-button{
          background: #fff;
          display: block !important;
          padding: 0.5em 3em;
          margin: 1em auto auto;
          margin-bottom: 0em;
          font-size: 14px;
        }
        span.link-text{
        color: white;
        margin-top: 1em;
        font-size: 19px;
        }
      }
      a.link-box + a.link-box{
        margin-top: 1em;
        @include breakpoint($bp-med){
          margin-left: 1em;
          margin-top: 0;
        }
      }
    }
  }
  .home-blog-section{
    padding: 6.5em 0;
    .featured-blog-photo{
      position: relative;
      overflow: hidden;
      overflow: hidden;
      display: block;
      height: 200px;
      @include breakpoint($bp-med){
        height: 150px;
      }
      img{
        @include block-fit-cover(20em);
      }
    }
    .l-grid-item{
      width: 100%;
      @include breakpoint($bp-small){
        width: 50%;
      }
      @include breakpoint($bp-med){
        width: 33%;
      }
    }
    h3{
      font-family: $font-base;
      font-size: 17px;
      margin-top: 0.7em;
    }
    .home-blog-header{
      text-align: center;
      position: relative;
      margin-bottom: 3em;
      h2{
        background: white;
        width: 300px;
        margin: auto auto 1em;
        @include breakpoint($bp-xl){
          width: 550px;
        }
        @include breakpoint($bp-mega){
          width: 650px;
        }
      }
      &:after{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 2px;
        z-index: -1;
        background-color: $color-yellow;
        top: 35px;
        @include breakpoint($bp-large){
          top: 20px;
        }
      }
    }
    .home-blog-footer{
      text-align: center;
      position: relative;
      margin-top: 1em;
      .button{
        border-right: 36px solid white;
        border-left: 36px solid white;
      }
      &:after{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 2px;
        background-color: $color-yellow;
        top: 20px;
        z-index: -1;
      }
    }
  }
  .home-form-section{
    position: relative;
    background-color: $color-dark-red;
    overflow: hidden;
    padding: 2em 0;
    .form-photo{
      @include block-fit-cover(110em);
      z-index: 0;
      opacity: 0.5;
       @include breakpoint($bp-med){
          @include block-fit-cover(90em);
       }
    }
    .home-form-content{
      position: relative;
      z-index: 1;
    }
    .gform_heading{
      margin-bottom: 0;
    }
  }
}

::-webkit-input-placeholder {
  color: #D4C0BF;
  font-size: 14px;
}

:-ms-input-placeholder {
  color: #D4C0BF;
  font-size: 14px;
}

::placeholder {
  color: #D4C0BF;
  font-size: 14px;
}


// magic

.magic{
  @supports(display: flex){
    display: flex;
  }
  li{
    flex: 1;
  }
  li + li{
    margin-top: 0;
    margin-left: 1.5em;
  }
}
