.page-template-template-videos{
  .video-type.current {
      display: block;
  }

  .video-type {
      display: none;
  }
.video-tuts{
  padding: 2.5em 0;
  padding-top: 0;
}
.card-header{
  position: relative;
  overflow: hidden;
  @include breakpoint($bp-med){
    height: 170px;
  }
  img{
    @include breakpoint($bp-med){
      @include block-fit-cover(0);
      z-index: 0;
    }
  }
}
.video-sort{
  background: #f8f7f7;
  ul{
    list-style: none;
    padding-left: 0;
    @supports(display: flex){
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      @include breakpoint($bp-med){
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
    li{
      cursor: pointer;
      font-size: 13px;
      color: #A68C8B;
      font-weight: 900;
      flex: 14%;
      text-align: center;
      padding: 1em;
      line-height: 1.5;
      transition: color 0.5s ease;
      &:hover{
        color: $color-red;
        transition: color 0.5s ease;
      }
      @include breakpoint($bp-med){
        position: relative;
        padding: 1.6em;
        display: flex;
        align-items: center;
        justify-content: center;

      }
    }
    li + li{
      border-top: 3px solid #F8F7F7;
      @include breakpoint($bp-med){
      border-top: 0;
      &:after{
        content: "";
        height: 15px;
        width: 2px;
        position: absolute;
        background: #777;
        left: 0.1em;
      }
      }
    }
    li:nth-child(8){
      &:after{
       display: none !important;
      }
    }
  }
}
a{
  position: relative;
  display: block;
  .card-header{
      svg{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 9;
      }
    }
    .card-footer{
      padding: 1em;
      height: 140px;
      h1.entry-title{
        font-size: 18px;
        a{
          text-decoration: none !important;
          &:hover{
            text-decoration: none !important;
          }
        }
      }
      p{
        font-size: 14px;
        margin-bottom: 0;
      }
    }
  }



}
.page-template-template-videos .video-sort ul li.current {
    color: #872926;
}
.vid-heading-section{
  text-align: center;
}


a{
  svg{
    circle{
    fill: white;
      transition: fill 0.5s ease;
    }
    polygon{
      fill: $color-yellow;
      transition: fill 0.5s ease;
    }
  }
  &:hover{
    svg{
      transition: fill 0.5s ease;
      circle{
        fill: $color-yellow;
        transition: fill 0.5s ease;
      }
      polygon{
        fill: white;
        transition: fill 0.5s ease;
      }
    }
  }
  .card-footer{

  }
}
.video-button{
  text-decoration: none;
}
