
.button,
input[type="submit"] {
  @include button( $button-color );
}
.button-2 {
  @include button( $button-color-2 );
  background-color: $color-red;
}

.button-outline{
  @include button( $button-color-2 );
  background-color: transparent !important;
  border: 1px solid $color-yellow !important;
}

.text-button {
  @include button-reset;
  padding: 0.15em 0;
  border-bottom: 2px solid $button-color;
  color: $button-color;
  font-size: 0.875em;
  font-weight: 700;
  text-transform: uppercase;
  transition: color 500ms, border-bottom-color 500ms;

  &:hover,
  &:focus {
    border-bottom-color: $button-color--hover;
    color: $button-color--hover;
  }
}

.button-group {
  margin-top: -8px;
  margin-left: -8px;

  .button {
    margin: 8px;
  }
}
