
/**
 * Block Bkg Colors
 */

.color-option-1 {
  background-color: #fff;
}

.color-option-2 {
  background-color: $bkg-light-grey;
}

.color-option-3 {
  @include reverse-block-color();
  background-color: $color-yellow;
}
.color-option-4 {
  @include reverse-block-color();
  background-color: $color-red;
}

.color-option-5{
  background-color: $color-grey;
}


.background-image {
  @include reverse-block-color();
  background-color: $bkg-dark-grey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.background-image a:not(.button), .color-option-3 a:not(.button), .color-option-4 a:not(.button){
  text-decoration: none !important;
}
.background-image a:not(.button-2), .color-option-3 a:not(.button-2), .color-option-4 a:not(.button-2){
  text-decoration: none !important;
}
