
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0;
  margin-bottom: 0.5em;
  color: $heading-color;
  font-family: $font-heading;
  font-weight: 700;
  line-height: 1.2;

  p + &,
  ul + &,
  ol + & {
    margin-top: 1em;
  }
}

h1, .h1 {
  font-size: 35px;

  @include breakpoint($bp-mega) {
    font-size: 42px;
  }
}

h2, .h2 {
  font-size: 30px;

  @include breakpoint($bp-xl) {
    font-size: 32px;
  }
  @include breakpoint($bp-mega) {
    font-size: 36px;
  }
}

h3, .h3 {
  font-size: 20px;

  @include breakpoint($bp-xl) {
    font-size: 22px;
  }
  @include breakpoint($bp-mega) {
    font-size: 26px;
  }
}

h4, .h4 {
  @include font-size(19);
}

h5, .h5 {
  @include font-size(18);
}

h6, .h6 {
  @include font-size(17);
}
