
p {
  margin: 0;
  margin-bottom: 1em;
  color: #5F4746;
}

hr {
  margin: 1.75em 0;
  border: 0 none;
  width: 100%;
  height: 1px;
  background-color: #d7acab;
}

address {
  font-style: normal;
}

blockquote {
  border-radius: 8px;
  margin: 1em 0;
  padding: 2em;

  p {
    margin: 0;
    font-size: 1.25em;
    font-style: italic;

    + p {
      margin-top: 1em;
    }
  }
}

cite {
  display: block;
  margin-top: .5em;
  font-size: .8em;
  line-height: 1.2;
  font-style: normal;

  &::before {
    content: '\2013\2002';
  }

  a {
    color: inherit;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: inherit;
      text-decoration: none;
    }
  }
}



/**
 * Inline Els
 */

a {
  color: $link-color;
  transition: color 500ms;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $link-color--hover;
  }
}

a[href^="tel"],
a[href^="mailto"] {

  &:hover,
  &:focus {

  }
}

small {
  font-size: 80%;
}

p strong{
  color: $color-dark-red;
}


blockquote{
  background-color: #F8F7F7;
  border-radius: none;
  padding: 1.5em;
  p{
    color: #A68C8B;
    font-size: 16px;
    &:last-child{
      color: $color-red;
    }
  }
}

.quote-block-layout{
  blockquote{
    background: transparent;
    padding: 0;
    p{
      color: white;
    }
  }
}

h3{
  a{
    text-decoration: none;
  }
}
